:root {
  --defWidth: 30vmin;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

label, input, select {
  min-width: 10em;
}

div:focus, section:focus, h2:focus {
  outline: none;
}

.card {
  color: black;
  text-align: left;
  font-size: .7em;
  width: 100%;
}

.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
  color:black;
}
.skip:focus, .skip:active {
  left: 30px;
  top: 30px;
  width: auto;
  height: auto;
  overflow: visible;
  z-index: 999;
  padding: 15px 30px;
  background-color: #fff;
}

.btn-primary {
  margin-top: 10px;
  margin-left: 10px;
}

.btn-primary:focus, .btn-primary:hover {
  color: white;
  background-color: darkblue;
}

.help-block {
    color: #856404;
    background-color: #fff3cd;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 2 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
